
img {
  margin-left:43%;
  margin-right:43%;
  flex-wrap:wrap;
}
h1 {
  flex:1;
  margin:0;
  width:100%;
  text-align: center;
  padding: 10px;
  color:white;
  flex-wrap:wrap;

}

div {
  width:100%;
  flex-wrap:wrap;

}

