/* You can add global styles to this file, and also import other style files */
body{
  margin:0;
  padding:0;
  font-family: sans-serif;
}

.container {
  width:60em;
  margin:auto;
  display:flex;
  flex-wrap: wrap;
}

header {
  width:100%;
}

main {
  width:85%;
  background-color: #bebebe;
}

aside {
  width:15%;
  background-color: #889cac;
}

footer {
  width: 100%;
  background-color: grey;
}