/* You can add global styles to this file, and also import other style files */
body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background-color: white;
}

.container {
  width:60em;
  margin:auto;
  display:flex;
  flex-wrap: wrap;
}

header {
  width:100%;
  background-color: #e4e9a2;
}

main {
  width:55%;
  background-color: #bebebe;
  margin-left:10%;
  margin-top:20px;
  margin-bottom:20px;
}

aside {
  width:15%;
  background-color: #889cac;
  margin-right: 0;
  margin-left:5%;
  margin-bottom:20px;
  margin-top:20px;
}

footer {
  width: 100%;
  background-color: #e1dde2;
}